@import '../src/prelude.less';

body {
    font-family: system-ui, sans-serif;
}

h1 {
    text-align: center;
}

.demo-region {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
        width: 100%;
        font-size: 1.2em;
    }

    .demo-item {
        padding: 16px;
        border: 1px solid #eee;
        border-radius: 2px;

        &.app-bar-demo, &.nav-window-demo {
            width: 400px;

            @media (max-width: 500px) {
                width: 100%;
            }
        }

        &.nav-window-demo {
            height: 500px;
        }
    }

    .demo-description {
        display: block;
        width: 100%;
    }
}

body {
    transition: background 1s;
}

body.dark {
    background: #222;
    color: #fff;
    .md-dark-theme(#1883ff, #1883ff);

    .demo-region {
        .demo-item {
            border-color: #444;
        }
    }
}

.custom-button-color {
    --md-button-color: #f44336;
}

.custom-checkbox-color {
    --md-checkbox-color: #f44336;
}

.custom-progress-color {
    --md-circular-progress-color: #f44336;
}

.custom-app-bar-color {
    --md-app-bar-bg: #f44336;
}

.app-bar-demo-status-bar-space {
    position: relative;
    --md-app-bar-extra-padding-top: 22px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 22px + 16px;
        background: fade(#000, 20%);
    }
}
