#root {
    font-family: system-ui, sans-serif;
}

h1 {
    text-align: center;
}

.demo-region {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
        width: 100%;
        font-size: 1.2em;
    }

    .demo-item {
        padding: 16px;
        border: 1px solid #eee;
        border-radius: 2px;
    }

    .demo-description {
        display: block;
        width: 100%;
    }
}
