@import '../src/prelude.less';

#root {
    font-family: system-ui, sans-serif;
}

h1 {
    text-align: center;
}

.demo-region {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
        width: 100%;
        font-size: 1.2em;
    }

    .demo-item {
        padding: 16px;
        border: 1px solid #eee;
        border-radius: 2px;

        &.app-bar-demo {
            min-width: 400px;

            @media (max-width: 500px) {
                min-width: 0;
                width: 100%;
            }
        }
    }

    .demo-description {
        display: block;
        width: 100%;
    }
}

body {
    transition: background 1s;
}

body.dark {
    background: #222;
    color: #fff;
    .md-dark-theme(#1883ff, #1883ff);

    .demo-region {
        .demo-item {
            border-color: #444;
        }
    }
}
