@import '../prelude';

@checkbox-idle-border: var(--md-checkbox-idle);
@checkbox-idle-border-opacity: var(--md-checkbox-idle-opacity);
@checkbox-check-color: var(--md-checkbox-check);
@checkbox-checked-color: var(--md-checkbox-color);
@checkbox-ripple-color: @checkbox-checked-color;
@checkbox-ripple-highlight: transparent;
@checkbox-highlight: @checkbox-checked-color;
@checkbox-disabled: var(--md-checkbox-disabled);
@checkbox-disabled-opacity: var(--md-checkbox-disabled-opacity);
@checkbox-disabled-check-color: var(--md-checkbox-disabled-check);

@switch-idle-bg: var(--md-switch-idle);
@switch-idle-bg-opacity: var(--md-switch-idle-opacity);
@switch-idle-fg: var(--md-switch-idle-thumb);
@switch-active-bg: var(--md-switch-active);
@switch-active-bg-opacity: var(--md-switch-active-opacity);
@switch-active-fg: var(--md-switch-active-thumb);
@switch-highlight: @switch-active-fg;

.clip-path-frame(@top, @right, @bottom, @left) {
    clip-path: polygon(
        0 0,
        0 100%,
        @left 100%,
        @left calc(100% - @bottom),
        @left @top,
        calc(100% - @right) @top,
        calc(100% - @right) calc(100% - @bottom),
        @left calc(100% - @bottom),
        @left 100%,
        100% 100%,
        100% 0
    );
}

.paper-checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: transform 0.3s @easing;
    -webkit-tap-highlight-color: transparent;

    .p-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
    }

    .p-background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(@checkbox-idle-border / @checkbox-idle-border-opacity);
        border-radius: 2px;
        transition: background 0.3s @easing, clip-path 0.3s @easing;
        pointer-events: none;
        .clip-path-frame(2px, 2px, 2px, 2px);
    }

    .p-check {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: transform 0.3s @easing;
        transform: scale(0);
        pointer-events: none;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 3px;
            left: -3px;
            height: 2px;
            transform-origin: 1px 1px;
            background: rgb(@checkbox-check-color);
        }
        &::before {
            width: 7px;
            transform: rotate(-135deg);
        }
        &::after {
            width: 13px;
            transform: rotate(-45deg);
        }

        @keyframes p-check-in-before {
            0% {
                transform: rotate(-135deg) translateX(100%) scaleX(0.00001);
                animation-timing-function: linear;
            }
            30% {
                transform: rotate(-135deg);
            }
        }

        @keyframes p-check-in-after {
            0% {
                transform: rotate(-45deg) scaleX(0);
            }
            30% {
                transform: rotate(-45deg) scaleX(0);
                animation-timing-function: cubic-bezier(.1, .5, .2, 1);
            }
            100% {
                transform: rotate(-45deg);
            }
        }
    }

    .p-indeterminate {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: transform 0.3s @easing;
        transform: scale(0);
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            top: -1px;
            left: -7px;
            width: 14px;
            height: 2px;
            background: rgb(@checkbox-check-color);
        }
    }

    .p-ripple-container {
        pointer-events: none;
        position: absolute;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        border-radius: 50%;
        transition: transform 0.3s @easing;
        --md-ripple-color: rgb(@checkbox-ripple-color);
        --md-ripple-highlight: rgb(@checkbox-ripple-highlight);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: rgb(@checkbox-highlight);
            opacity: 0;
            transition: background 0.3s @easing, opacity 0.3s @easing;
        }
    }

    input:focus ~ .p-ripple-container::before {
        opacity: 0.1;
    }

    @media (hover: hover) {
        &:hover .p-ripple-container::before {
            opacity: 0.1;
        }
    }

    &:active {
        transform: scale(0.9);

        .p-ripple-container {
            transform: scale(1 / 0.9);
        }
    }

    &.is-checked .p-background, &.is-indeterminate .p-background {
        background: rgb(@checkbox-checked-color);
        .clip-path-frame(9.99px, 9.99px, 9.99px, 9.99px);

        transition: background 0.3s @easing;
    }

    &.is-checked.was-unchecked .p-background {
        animation: p-background-check 0.2s cubic-bezier(.2, .5, .7, 1);

        @keyframes p-background-check {
            from {
                .clip-path-frame(2px, 2px, 2px, 2px);
            }
            to {
                .clip-path-frame(11px, 16px, 9px, 4px);
            }
        }
    }
    &.is-indeterminate.was-unchecked .p-background {
        animation: p-background-indeterminate 0.2s cubic-bezier(.2, .5, .7, 1);

        @keyframes p-background-indeterminate {
            from {
                .clip-path-frame(2px, 2px, 2px, 2px);
            }
            to {
                .clip-path-frame(9px, 8px, 9px, 8px);
            }
        }
    }

    &.is-checked .p-check {
        transform: scale(1);
        transition: none;
    }

    &.is-checked.was-unchecked .p-check,
    &.is-checked.was-indeterminate .p-check {
        &::before {
            animation: p-check-in-before 0.3s 0.03s backwards;
        }
        &::after {
            animation: p-check-in-after 0.3s 0.03s backwards;
        }
    }

    &.is-indeterminate .p-indeterminate {
        transform: scale(1);
    }

    &.is-disabled {
        .p-background {
            background: rgb(@checkbox-disabled / @checkbox-disabled-opacity);
        }

        .p-ripple-container::before {
            background: none;
        }

        .p-check::before, .p-check::after {
            background: rgb(@checkbox-disabled-check-color);
        }
    }
}

.paper-switch {
    display: inline-block;
    position: relative;
    @switch-width: 46px;
    @switch-height: 26px;
    width: @switch-width;
    height: @switch-height;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    .p-background {
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        background: rgb(@switch-idle-bg / @switch-idle-bg-opacity);
        transition: background 0.3s @easing;
        border-radius: 20px;
    }

    .p-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        z-index: 1;
    }

    .p-thumb {
        position: absolute;
        top: (@switch-height - 24px) / 2;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition: transform 0.3s @easing;
        .elevation(4);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(@switch-idle-fg);
            border-radius: inherit;
            transition: background 0.3s @easing;
        }

        .p-thumb-highlight {
            pointer-events: none;
            position: absolute;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            border-radius: 50%;
            background: rgb(@switch-highlight);
            transition: opacity 0.3s @easing;
            opacity: 0;
        }
    }

    &.is-checked {
        .p-background {
            background: rgb(@switch-active-bg / @switch-active-bg-opacity);
        }
        .p-thumb {
            &::after {
                background: rgb(@switch-active-fg);
            }
            transform: translateX((@switch-width - 24px));
        }
    }

    @media (hover: hover) {
        &:hover:not(:active):not(.is-disabled) .p-thumb-highlight {
            opacity: 0.15;
        }
    }

    .p-input:focus ~ .p-thumb .p-thumb-highlight {
        opacity: 0.2;
    }

    &.is-disabled {
        opacity: 0.5;
    }

    &.is-being-dragged {
        .p-thumb {
            transition: none;
        }
    }
}
