@import '../prelude';

@bar-bg: var(--md-app-bar-bg);
@bar-fg: var(--md-app-bar-ink);

.paper-app-bar {
    width: 100%;
    background: @bar-bg;
    color: @bar-fg;
    padding: 16px;
    padding-top: calc(16px + var(--md-app-bar-extra-padding-top));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: background 0.4s @easing;
    .elevation(4);

    .p-menu {
        padding-right: 32px;
    }

    .p-title {
        flex: 1;
        height: 24px;
        line-height: 24px;
        max-width: 80%;
    }

    .p-spacer {
        flex: 1;
    }

    .p-title-text {
        font-weight: 500;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .p-inner {
            display: inline;
            animation: paper-app-bar-title-text-inner-in 0.2s cubic-bezier(.4, 0, .3, 1);

            @keyframes paper-app-bar-title-text-inner-in {
                from {
                    opacity: 0;
                }
            }

            &.p-out {
                animation: paper-app-bar-title-text-inner-out 0.2s cubic-bezier(.7, 0, .6, 1) forwards;
            }

            @keyframes paper-app-bar-title-text-inner-out {
                to {
                    opacity: 0;
                }
            }
        }
    }
}
